
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Feito com muito carinho =)</b>
    </div>
    <strong><a href="https://github.com/marcelobiberg" title="Ir para Github do Ninjaaa!"> <i class="fa fa-2x fa-github-alt"></i>  Developer By Marcelo Biberg. </a></strong> 
</footer>
