<header class="main-header">
    <a href="~/" class="logo">
        <span class="logo-mini"><b>C</b>C</span>
        <span class="logo-lg" title="Clique aqui para voltar para o site"><b>Center</b>Control</span>
    </a>

    @await Html.PartialAsync("_MenuBar")
</header>

@*trabalhando nisso
    <script type="text/javascript">
    var el = document.getElementById('LogoLG');

    el.addEventListener("mouseover", mouseOverLogo);
    el.addEventListener("mouseout", mouseOutLogo);

    function mouseOverLogo() {
        el.innerText = "Marcelo Biberg Ninja =)";
    }

    function mouseOutLogo() {
        el.innerText = "  Marcelo Biberg.";
    }
</script>*@