
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>C</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" title="Clique aqui para voltar para o site"><b>Center</b>Control</span>
    </a>

    @await Html.PartialAsync("_MenuBar")
</header>
