@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marcelo Biberg | Web Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300">
    <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/lib/animate/animate.css">
    <link rel="stylesheet" href="~/css/style.sea.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="shortcut icon" href="~/img/favicon.png">
</head>
<body>
    <!-- Reference item-->
    <!-- navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a href="#intro" class="navbar-brand scrollTo">Marcelo Biberg</a>
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars"></span></button>
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Início</a></li>
                        <li class="nav-item"><a href="#about" class="nav-link link-scroll">Sobre</a></li>
                        <li class="nav-item"><a href="#references" class="nav-link link-scroll">Meus Projetos</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Intro Image-->
    <section id="intro" style="background: url(img/home.jpg) center center no-repeat; background-size: cover;" class="intro-section pb-2">
        <div class="container text-center">
            <div data-animate="fadeInDown" class="logo"><img src="img/logo-big.png" alt="logo" width="130"></div>
            <h1 data-animate="fadeInDown" class="text-shadow mb-5">Marcelo Biberg</h1>
            <p data-animate="slideInUp" class="h3 text-shadow text-400">WEB DEVELOPER</p>

        </div>
    </section>
    <!-- Sobre -->
    <section id="about" class="about-section">
        <div class="container">
            <header class="text-center">
                <h2 data-animate="fadeInDown" class="title">Sobre mim</h2>
            </header>
            <div class="row">
                <div data-animate="fadeInUp" class="col-lg-6" style="max-height:350px;overflow:auto;">
                    <p>
                        Tenho me interessado cada vez mais pela área de TI, venho adquirindo conhecimento constante em busca de desafios.
                    </p>
                    <p>
                        Atualmente desenvolvendo software para web, tenho capacidade para programar com qualquer linguagem, mas amo as tecnologias da Microsoft, O Visual Studio 2019 é a melhor IDE do mundo.<br /><br /> Segue as minhas favoritas:<br />
                        <strong>ASP.Net Core ( MVC & EF Core & Identity):</strong><br />&nbsp;&nbsp;&nbsp;-API<br />&nbsp;&nbsp;&nbsp;-Tag Helpers<br />&nbsp;&nbsp;&nbsp;-Injeção de dependência<br />&nbsp;&nbsp;&nbsp;-Middleware <br />
                        <strong>VBScript</strong><br />&nbsp;&nbsp;&nbsp;-API (Rest with ASP :P)<br />&nbsp;&nbsp;&nbsp;-Faço qualquer coisa em ASP Classic<br />
                        <strong>Front-End</strong><br />&nbsp;&nbsp;&nbsp;-HTML<br />&nbsp;&nbsp;&nbsp;-CSS<br />&nbsp;&nbsp;&nbsp;-JavaScript (Vanilla)<br />&nbsp;&nbsp;&nbsp;-Bootstrap<br />&nbsp;&nbsp;&nbsp;-Jquery (para plugins)<br />
                        <strong>SQL Server</strong><br />&nbsp;&nbsp;&nbsp;-Consulta básica<br />&nbsp;&nbsp;&nbsp;-EF Core With SQL Server<br />
                    </p>
                </div>
                <div data-animate="fadeInUp" class="col-lg-6">
                    <div class="skill-item">
                        <div class="progress-title">ASP Classic ( VBScript )</div>
                        <div class="progress">
                            <div role="progressbar" style="width: 95%" aria-valuenow="0" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill1"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="progress-title">C# (ASP.net Core)</div>
                        <div class="progress">
                            <div role="progressbar" style="width: 85%" aria-valuenow="70" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill2"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="progress-title">SQL Server</div>
                        <div class="progress">
                            <div role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill3"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="progress-title">Front-End (Javascript(Vanilla), HTML, CSS)</div>
                        <div class="progress">
                            <div role="progressbar" style="width: 60%" aria-valuenow="70" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill2"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="progress-title">Arquitetura e Microserviçoes</div>
                        <div class="progress">
                            <div role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *** REFERENCES IMAGE *** -->
    <section id="references">
        <div class="container">
            <div class="col-sm-12">
                <div class="mb-5 text-center">
                    <h2 data-animate="fadeInUp" class="title">Meus Projetos</h2>
                    <p data-animate="fadeInUp" class="lead">Eu trabalhei em vários projetos tanto na faculdade como no trabalho, trouxe alguns mais recentes para compartilhar!</p>
                </div>
                <ul id="filter" data-animate="fadeInUp">
                    <li class="active"><a href="#" data-filter="all">All</a></li>
                    <li><a href="#" data-filter="webdesign">Webdesign</a></li>
                    <li><a href="#" data-filter="seo">SEO</a></li>
                    <li><a href="#" data-filter="marketing">Marketing</a></li>
                    <li><a href="#" data-filter="other">Other</a></li>
                </ul>
                <div id="detail">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <span class="close">×</span>
                            <div id="detail-slider" class="owl-carousel owl-theme"></div>
                            <div class="text-center">
                                <h1 id="detail-title" class="title"></h1>
                            </div>
                            <div id="detail-content"></div>
                        </div>
                    </div>
                </div>
                <!-- Reference detail-->
                <div id="references-masonry" data-animate="fadeInUp">
                    <div class="row">
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-1.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name teste here</h3>
                                            <p>Short project description goes here... teste here</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="seo" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-2.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name 2</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider3.jpg,img/main-slider1.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="marketing" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-3.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name 3</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="marketing" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-4.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name 4</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-5.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name 5</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="other" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-6.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name 6</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="seo" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-7.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/portfolio-8.jpg" alt="" class="img-fluid">
                                    <div class="overlay">
                                        <div class="inner">
                                            <h3 class="h4 reference-title">Project name</h3>
                                            <p>Short project description goes here...</p>
                                        </div>
                                    </div>
                                </a>
                                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg" class="sr-only reference-description">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                                    <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                                    <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section id="contact" data-animate="bounceIn" class="contact-section contact">
        <div class="container">
            <header class="text-center">
                <h2 class="title">Contato</h2>
            </header>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" method="post" asp-action="SendEmail" asp-controller="Home">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="name" placeholder="Nome" required="required" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="email" placeholder="exemplo@seuemail.com.br" required="required" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="phone" placeholder="(51) 99999-9999" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <textarea name="message" placeholder="Escreva-me um comentário, seu feedback será bem vindo :)" rows="4" required="required" class="form-control"></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left">
                    <p class="social">
                        <a href="https://www.facebook.com/marcelo.biberg" target="_blank" title="Facebook" class="external facebook wow fadeInUp">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/marcelo-biberg-a8368b104/" data-wow-delay="0.6s" target="_blank" title="Linkedin" class="linkedin wow fadeInUp">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/marcelobiberg" data-wow-delay="0.4s" target="_blank" title="Github" class="external github wow fadeInUp">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                </div>
                <!-- /.6-->
                <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
                    <p>@DateTime.Now.Year - Developer Marcelo Biberg.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript files-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/lib/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/lib/jquery.counterup/jquery.counterup.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="~/js/front.js"></script>

</body>
</html>