@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Center Control</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/ionicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page" style="height: auto;">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Cent</b>er <b>Contr</b>ol</a>
        </div>
        @RenderBody()
    </div>
    <script src="~/js/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>

