@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-box-body">
    <p class="login-box-msg">Informe seu e-mail</p>
    <form method="post">
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="E-mail" autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="help-block"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                        
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Resetar</button>
            </div>
        </div>
    </form>
    <a asp-page="./Login">Voltar</a><br>
</div>
   