@page
@model LoginModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Autenticação";
}
<div class="login-box-body">
    <p class="login-box-msg">Autenticar usuário</p>
    <form method="post">
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="E-mail" autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="help-block"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Senha">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Input.Password" class="help-block"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input asp-for="Input.RememberMe" type="checkbox"> Manter conectado
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-success">Entrar</button>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div class="social-auth-links text-center">
            @if (Configuration["Authentication:Facebook:IsEnabled"] == "true")
            {
                <button type="submit" class="btn btn-block btn-social btn-facebook btn-flat" name="provider" value="Facebook" title="Log in using your Facebook account">
                    <i class="fa fa-facebook"></i> Sign in using Facebook
                </button>
            }
            @if (Configuration["Authentication:Google:IsEnabled"] == "true")
            {
                <button type="submit" class="btn btn-block btn-social btn-google btn-flat" name="provider" value="Google" title="Log in using your Google account">
                    <i class="fa fa-google-plus"></i> Sign in using Google+
                </button>
            }
        </div>
    </form>
    <a asp-page="./ForgotPassword">Esqueci minha senha</a><br>
</div>
